
@import '../../../../styles.scss';



.loader {
  width: 65px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,$color-third 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,$color-third);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{
  100%{transform: rotate(1turn)}
}

.pulse_text {
  animation: pulse 1s infinite
}

@keyframes pulse {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}
