<nav class="w-full  mat-elevation-z2">
  <div
    class="lg:h-[60px] h-[45px] bg-gray-100 w-full flex items-center justify-between border-r-8 border-primary">
    <div class="py-2 lg:px-4 px-2 flex items-center">
      <div class="mr-1 lg:hidden flex">
        <button mat-icon-button (click)="openSideBar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div [routerLink]="navigationService.getPATH('track')"
        class="hover:bg-gray-200 rounded-md p-1 hover:cursor-pointer">
        <img [src]="imagesService.logo" alt="" class="h-[30px] sm:flex hidden">
        <img [src]="imagesService.logoMin" alt="" class="h-[30px] sm:hidden flex">
      </div>
      <!-- <div class="w-[1px] bg-gray-400 h-8 mx-2"></div>
      <img [src]="imagesService.logoClient" alt="" class="h-[40px] px-1"> -->
    </div>

    <div class="pb-0.5 hidden sm:flex">
      <span class="text-xs text-gray-600">COAC - Cooperativa Agroindustrial de Carlópolis</span>
    </div>

    <div class="flex justify-end items-center px-2">
      <div class="mr-1">
        <button mat-icon-button routerLink="/in/track/">
          <mat-icon>account_tree</mat-icon>
        </button>
      </div>
      <div class="mr-1">
        <button mat-icon-button [matMenuTriggerFor]="menu"
          class=" !text-orange-500 flex items-center justify-center">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mb-2">
          <button mat-menu-item routerLink="/in/track/enter" class="!text-green-500 flex items-center mr-2"
            matTooltip="Entrada de produtos">
            <mat-icon class="!text-green-500">move_to_inbox</mat-icon>
            Entrada</button>

          <button mat-menu-item routerLink="/in/track/exit/init" class="!text-blue-500 flex items-center"
            matTooltip="Saída de produtos">
            <mat-icon class="!text-blue-500">local_shipping</mat-icon>
            Saída</button>
        </mat-menu>
      </div>
      <div class="mr-1">
        <button mat-icon-button routerLink="/in/track/exit/list">
          <mat-icon [matBadge]="navigationService.hasExits()" [matBadgeHidden]="checkExits">local_shipping</mat-icon>
        </button>
      </div>
      <div class="lg:flex hidden">
        <button mat-button [matMenuTriggerFor]="menu2" class="!text-black">
          <mat-icon>person</mat-icon>
          {{ user_name() }}
        </button>
      </div>
      <div class="lg:hidden flex">
        <button mat-icon-button [matMenuTriggerFor]="menu2" class="!text-black">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <mat-menu #menu2="matMenu">
        <div class="text-center text-sm border-b border-gray-300 pb-1 lg:hidden flex justify-center">
          <span>{{ regex.getFirstNameAndLastNameInitial(user_name()) }}</span>
        </div>
        <button mat-menu-item (click)="doLogout()">
          <mat-icon class="!text-red-500">logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
