<section class="lg:p-4 p-2 flex flex-col h-full">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }

</section>

<ng-template #mainTemplate>
  <button *ngIf="showTopButton" (click)="scrollTop()"
    class="fixed bottom-4 right-4 bg-primary text-white shadow-lg rounded-full w-12 h-12 flex items-center justify-center text-lg font-bold hover:scale-110 transition-transform z-50">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <div class="mb-2 flex items-center justify-between sticky top-0 z-10 pb-2">

    <div class="mr-4 lg:mb-0 flex items-center">
      <app-title [text]="'Saída ' + exitData.id" icon="local_shipping"></app-title>
    </div>

    <div class="flex items-center gap-1">
      <button mat-button routerLink="/in/track" class="!text-primary flex items-center"
        matTooltip="Voltar para rastreabilidade">
        <mat-icon>arrow_back</mat-icon>
        Voltar</button>

      <div class="flex justify-center">
        @if (!previewMode()) {
        <button mat-icon-button matTooltip="Ver volumes selecionados" type="button" (click)="this.previewMode.set(true)"
          class="!bg-blue-600 mr-2">
          <mat-icon class="!text-white">select_all</mat-icon>
        </button>
        }
        @else {
        <button mat-icon-button matTooltip="Ver todos os volumes" type="button" (click)="this.previewMode.set(false)"
          class="!bg-gray-600 mr-2">
          <mat-icon class="!text-white">deselect</mat-icon>
        </button>
        }
        <button mat-flat-button type="button" (click)="confirm()" class="!bg-green-600">
          Finalizar saída
        </button>
      </div>
    </div>
  </div>

  <div>
    <div class="text-end text-sm">
      <span>{{ getSelectedVolumesText() }}</span>
    </div>
    <p class="font-bold text-lg text-end">
      Peso total: {{ totalSelectedWeight | kg }}
    </p>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Detalhes">
      <ng-container *ngTemplateOutlet="detailTemp"></ng-container>
    </mat-tab>
    <mat-tab [label]="'Volumes para saída'">
      <ng-container *ngTemplateOutlet="volumesTemp"></ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #detailTemp>
  <div class="my-4">
    <mat-card appearance="outlined" class="p-3">

      <div class="text-sm">
        <span class="font-medium">Cliente: </span>
        <span>{{ exitData?.Person?.name }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Tipo de saída: </span>
        @switch (exitData?.exit_type) {
        @case ('wholesale') {
        <span>Atacado</span>
        }
        @case ('retail') {
        <span>Varejo</span>
        }
        @case ('consumer') {
        <span>Consumidor</span>
        }
        }
      </div>

      <div class="text-sm">
        <span class="font-medium">Responsável: </span>
        <span>{{ exitData?.User?.Person?.name }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Previsão de saída: </span>
        <span>{{ dateTime.convertToBRTime(exitData.exit_at) }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Observação: </span>
        <span>{{ exitData.observation }}</span>
      </div>

      <div class="text-end">
        <span class="text-sm text-gray-400">{{ dateTime.convertToBRTime(exitData.created_at) }}</span>
      </div>
    </mat-card>
  </div>

  <div>
    <div class="mb-4">
      <div class="lg:w-[300px] w-full mr-4">
        <span class="text-sm font-medium">Notal fiscal</span>
        <input type="text" [(ngModel)]="invoice" [ngModelOptions]="{standalone: true}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
    </div>

    <div class=" flex items-center">
      <div class="mr-2">
        <div class="lg:w-[200px] w-full mr-2">
          <span class="text-sm font-medium">Data de saída</span>
          <input type="datetime-local" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #volumesTemp>

  @if (locationList.length === 0) {
  <div class="flex items-center w-full justify-center h-20">
    <app-zero-length text="Sem volumes disponíveis"></app-zero-length>
  </div>
  }

  <div>
    <div class="flex gap-2 flex-wrap py-2">
      @for (item of locationList; track $index) {
      <div (click)="scrollToLocation(item.id)"
        class="w-10 h-10 hover:bg-primary/80 bg-primary/70 flex justify-center items-center rounded-md hover:cursor-pointer">
        <span class="font-medium text-white text-2xl">{{ item.name }}</span>
      </div>
      }
    </div>

    <div>
      <mat-divider></mat-divider>
    </div>

    <div class="flex-1 overflow-auto">
      @for (item of locationList; track $index) {

      <div class="p-4" [id]="item.id">
        @if (hasSelectedVolume(item.id)) {
        <div class="flex items-center">
          <app-icon icon="palette" customClass="w-10 h-10 mr-4"></app-icon>
          <span class="font-medium">{{ item.name }}</span>
        </div>
        }
        <div class="flex flex-wrap py-2 gap-2">
          @for (volume of item.Volume; track $index) {
          @if (checkView(volume.id)) {
          <div class="hover:cursor-pointer"
            [ngClass]="{ 'border-4 border-blue-500 animate-pulse rounded-md duration-150': selectedVolumes.includes(volume.id) }"
            (click)="includeVolume(volume.id)">
            <app-card-volume [item]="volume" [disableHover]="true" />
          </div>
          }
          }
          @for (group of item.VolumeGroup; track $index) {
          <div class="border-[1px] border-gray-400 rounded-md shadow-md  border-l-4 border-l-primary p-1">
            @for (tiny of group.Volume; track $index) {
            @if (checkView(tiny.id)) {
            <div>
              <div (click)="includeVolume(tiny.id)" class="transform transition duration-150 hover:cursor-pointer w-[21rem]"
                [ngClass]="{ 'border-4 border-blue-500 animate-pulse rounded-md duration-150 ': selectedVolumes.includes(tiny.id) }">
                <app-card-volume [item]="tiny" />
              </div>
            </div>
            <mat-divider></mat-divider>
            }
            }
            @if (!previewMode()) {
            <div class="py-2">
              <div class="mb-1 px-2" matTooltip="Peso total">
                <div class="text-xs text-black font-medium rounded-tl-md flex items-center">
                  <app-icon icon="weight" customClass="w-5 h-5 mr-2" />
                  <div>
                    <span class="">{{ group.groupWeight | kg }}</span>
                  </div>
                </div>
              </div>
              @for (material of group.materials; track $index) {
              <div class="text-xs text-black font-medium rounded-tl-md flex items-center mb-1 px-2"
                matTooltip="Material">
                <app-icon icon="material" customClass="w-5 h-5 mr-2" />
                <div>
                  <span class="text-xs">{{ material?.name }} </span>
                  <span>
                    = {{ calc.calcTotalUnits({ volume: material.volume, weight: group.groupWeight })}}
                  </span>
                </div>
              </div>
              }
            </div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>
