<section class="lg:p-8 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-8 flex items-center justify-between">
    <div class="mr-2">
      <app-title [text]="(isEditing() ? 'Atualizar' : 'Novo') + ' palete'" [icon]="icon"></app-title>
    </div>
    <button mat-button routerLink="/in/locations" class="!text-primary flex items-center"
      matTooltip="Voltar para lista de usuários">
      <mat-icon>arrow_back</mat-icon>
      Voltar</button>
  </div>

  <div>
    <form [formGroup]="form" (ngSubmit)="create()">

      <div class="mb-4 lg:flex">
        <div class="lg:w-[500px] w-full mr-2 mb-4">
          <label for="name" class="block mb-1 text-sm font-medium text-gray-900">
            Identificação do palete
          </label>
          <input type="text" id="first_name" formControlName="name" placeholder="Ex: 8"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
          <div class="text-end pr-2">
            <span class="text-xs text-gray-500">{{ form.controls['name'].value?.length || 0 }} /2</span>
          </div>
          @if (form.controls['name'].hasError('required') && showError()) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">Identificação é obrigatório</p>
          }
          @if (form.controls['name'].hasError('invalidName') && showError()) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">A identificação do palete permite no máximo 2 caracteres</p>
          }
        </div>

        <div class="lg:w-[150px] w-full">
          <label for="countries" class="block mb-1 text-sm font-medium text-gray-900">Status</label>
          <select id="countries" formControlName="isActive"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option selected [ngValue]="true">Ativo</option>
            <option [ngValue]="false">Inativo</option>
          </select>
        </div>
      </div>

      <div class="mb-4">
        <div class="lg:w-[200px] w-full mr-2">
          <label for="countries" class="block mb-1 text-sm font-medium text-gray-900">Localização {{ isEditing() ?
            'atual' : 'inicial' }}</label>
          <select id="countries" formControlName="sector_id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            @for(sector of sectorList; track sector.id) {
            <option [value]="sector.id">{{ sector.name }}</option>
            }
          </select>
          @if (form.controls['sector_id'].hasError('required') && showError()) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">Selecione a localização</p>
          }
        </div>
      </div>

      <div class="w-full mb-6">
        <label for="name" class="block mb-1 text-sm font-medium text-gray-900">
          Descrição
        </label>
        <textarea id="amount" formControlName="description"
          class="bg-gray-50 h-[200px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
      </div>

      <div class="flex lg:justify-start justify-center">
        <button mat-flat-button type="submit" class="!bg-green-600">{{ isEditing() ? 'Atualizar' : 'Salvar' }}</button>
      </div>
    </form>
  </div>

</ng-template>
